.spinner {
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #8029c6 #0000;
  animation: spinner 1s infinite linear;
}
.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.spinner::before {
  border-color: #ead9f7 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.spinner::after {
  margin: 8px;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}

.spinner-sm {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #fff3e0 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #fff3e0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
